  #show-places {
    display: none;
  }

.user-places {
  cursor: pointer;
  color: #0088cc;
}

.user-places:hover {
  text-decoration: underline;
}

.name-location {
  cursor: pointer;
  color: red;
}

.name-location:hover {
  text-decoration: underline;
}
